body{
    margin: 0;
    padding: 0;
}
.box-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    border: 1px solid black;
    width: 8rem;
    height: 8rem;
}